.loading {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingDualRing {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: var(--clr-white);
}

.dualRing {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;

    div {
        box-sizing: border-box !important;
    }

    & > div {
        position: absolute;
        width: 144px;
        height: 144px;
        top: 28px;
        left: 28px;
        border-radius: 50%;
        border: 16px solid var(--clr-black);
        border-color: var(--clr-primary) transparent var(--clr-primary)
            transparent;
        animation: dualRing 1s linear infinite;

        &:nth-child(2) {
            border-color: transparent;

            div {
                position: absolute;
                width: 100%;
                height: 100%;
                transform: rotate(45deg);

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: -16px;
                    left: 48px;
                    background: var(--clr-primary);
                    border-radius: 50%;
                    box-shadow: 0 128px 0 0 var(--clr-primary);
                }

                &::after {
                    left: -16px;
                    top: 48px;
                    box-shadow: 128px 0 0 0 var(--clr-primary);
                }
            }
        }
    }
}

@keyframes dualRing {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
