.navList {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .navLink {
        &:hover {
            color: var(--clr-primary);
            background-color: transparent;
        }
    }
}
